{% load comments i18n %}

    {% get_comment_form for object as form %}
    <form action="{% comment_form_target %}" method="post" class="comment-form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.META.PATH_INFO }}" />
        <input type="hidden" name="name" value="{{ request.user.username|default:"Anonymous" }}" />
        <input type="hidden" name="email" value="{{ request.user.email|default:"anonymous@ddress.com" }}" />
        <input type="hidden" name="url" value="" />

        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.name == 'honeypot' or field.name == 'comment' %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    {% if field.errors %} class="error"{% endif %}
                    {% if field.name == 'comment' %}<div>{% endif %}
                    {% ifequal field.name "honeypot" %}<div style="display:none;">{% endifequal %}
                    {{ field }}
                    {% ifequal field.name "honeypot" %}</div>{% endifequal %}
                    {% if field.name == 'comment' %}</div>{% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <input type="submit" name="" value="Post" disabled="disabled" />
    </form>
