{% load comments panya_template_tags likes_inclusion_tags socialcomments_template_tags %}

<style type="text/css">
div.comment-nested-comments {
    margin-left: 20px;
}    

div.nested-comment {
    margin-top: 12px;
}
</style>

<script type="text/javascript">
    $(document).ready(function(){

        $('form.comment-form textarea').live('click', function(){
            if ($(this).val() == 'Add your comment...')
                $(this).val('');
        });

        // Enable / disable post button
        $('form.comment-form textarea').live('keyup', function(){
            var form = $(this).parents('form:first');
            if ($(this).val())
                $('input[type="submit"]', form).removeAttr('disabled');
            else
                $('input[type="submit"]', form).attr('disabled', 'disabled');
        });

    });
</script>

<a href="#" name="comments"></a>
<div class="comments">
{% get_comment_list for object as comment_list %}
{% for comment in comment_list %}
    {% if not comment.parent %}
    <div class="comment">
        <div class="body">
            <a href="#">{{ comment.user.username }}</a>: 
            {{ comment.comment }}
        </div>
        <div class="meta">{% humanize_time_diff comment.submit_date 'ago' %}{% if SOCIALCOMMENTS_LIKES_ENABLED %} &middot; {% likes comment %}{% endif %}</div>

        <div class="comment-nested-comments">
            {% for nested_comment in comment.nested_comments %}
                <div class="nested-comment">
                    <div class="body">
                        <a href="#">{{ nested_comment.user.username }}</a>: 
                        {{ nested_comment.comment }}
                    </div>
                    <div class="meta">{% humanize_time_diff nested_comment.submit_date 'ago' %}</div>                   
                </div>
            {% endfor %}

            {% if object|can_comment:request %}
            <div class=nested-comment">
                <div class="nested-body">                    
                    {% with comment as parent %}
                        {% include "comments/form_nested.html" %}
                    {% endwith %}
                </div>
            </div>
            {% endif %}
        </div>

    </div>
    {% endif %}
{% endfor %}
</div>
